@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

@import "tailwindcss";


* {
    font-family: "Playfair", sans-serif;
}

html,
body,
#root {
    height: 100%;
    scroll-behavior: smooth;
}